In [ ]:
%run "./Setup.ipynb"

In [ ]:
spark

In [3]:
json_path = "E:\\PySpark\\data\\users.json"

In [5]:
type(spark.read)

pyspark.sql.readwriter.DataFrameReader

In [6]:
#df = spark.read.format("json").load(json_path)
df = spark.read.json(json_path)

In [7]:
df.collect()

[Row(age=25, gender='Male', name='Satya', phone='8501099876', userid=1),
 Row(age=None, gender='Male', name=None, phone='5676599876', userid=2),
 Row(age=25, gender='Male', name='Rahim', phone=None, userid=3),
 Row(age=28, gender='Female', name='Sandra', phone='8508899001', userid=4),
 Row(age=15, gender='Female', name='Keerti', phone=None, userid=5),
 Row(age=13, gender='Male', name='Sundar', phone='8522233456', userid=6),
 Row(age=28, gender='Male', name='Steve', phone='8501085009', userid=7),
 Row(age=55, gender='Female', name='Smriti', phone='9246655498', userid=8),
 Row(age=36, gender='Female', name='Veena', phone='8508888888', userid=9),
 Row(age=15, gender='Female', name='Kriti', phone=None, userid=10),
 Row(age=13, gender='Male', name='Samuel', phone='8522235624', userid=11),
 Row(age=28, gender='Male', name='Raghu', phone='8501082222', userid=12),
 Row(age=55, gender='Female', name='Ramya', phone='9246654658', userid=13),
 Row(age=31, gender='Female', name='Hasina', phone='8345213235', userid=14),
 Row(age=37, gender='Female', name='Lasya', phone=None, userid=15),
 Row(age=13, gender='Male', name='Murugan', phone='8522209563', userid=16),
 Row(age=31, gender='Male', name='Mukesh', phone='8597638421', userid=17)]

In [10]:
df.schema

StructType(List(StructField(age,LongType,true),StructField(gender,StringType,true),StructField(name,StringType,true),StructField(phone,StringType,true),StructField(userid,LongType,true)))

In [11]:
df.show()

+----+------+-------+----------+------+
| age|gender|   name|     phone|userid|
+----+------+-------+----------+------+
|  25|  Male|  Satya|8501099876|     1|
|null|  Male|   null|5676599876|     2|
|  25|  Male|  Rahim|      null|     3|
|  28|Female| Sandra|8508899001|     4|
|  15|Female| Keerti|      null|     5|
|  13|  Male| Sundar|8522233456|     6|
|  28|  Male|  Steve|8501085009|     7|
|  55|Female| Smriti|9246655498|     8|
|  36|Female|  Veena|8508888888|     9|
|  15|Female|  Kriti|      null|    10|
|  13|  Male| Samuel|8522235624|    11|
|  28|  Male|  Raghu|8501082222|    12|
|  55|Female|  Ramya|9246654658|    13|
|  31|Female| Hasina|8345213235|    14|
|  37|Female|  Lasya|      null|    15|
|  13|  Male|Murugan|8522209563|    16|
|  31|  Male| Mukesh|8597638421|    17|
+----+------+-------+----------+------+

In [12]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- userid: long (nullable = true)

In [20]:
df2 = df.select("userid", "name", "age", "gender", "phone") \
        .where("age is not null and phone is not null") \
        .orderBy("gender", "name") \
        .groupBy("age").count() \
        .limit(5)

df2.show()

+---+-----+
|age|count|
+---+-----+
| 25|    1|
| 28|    3|
| 13|    3|
| 55|    2|
| 36|    1|
+---+-----+

In [21]:
spark.catalog